<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Agenda">
        <meta name="author" content="e-ghost 2019">
        <title>AgendaVue</title>

        
        <!-- Referencia al archivo CSS -->
        <link rel="stylesheet" href="style.css">
    
        <!-- Vue.js -->
        <script type="text/javascript" src="js/vue.js"></script>

    </head>

    <body id="page-top" class="index">
        <div id="app">
        

        <!-- Header -->
        <header>
        
            <div class="intro-text">
                <span class="name">MI AGENDA VUE</span>
            </div>
            
        </header>
            
                    
        <!-- Sección de Contactos -->
        <section id="contactos">


            <!-- Formulario de añadir contacto -->
            <div class="form-container">
                <form @submit.prevent="agregarContacto">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input v-model="nuevoContacto.nombre" type="text" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input v-model="nuevoContacto.email" type="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input v-model="nuevoContacto.telefono" type="tel" class="form-control" placeholder="Número de teléfono" required>
                    </div>
                    <div class="form-group">
                        <label>Twitter</label>
                        <input v-model="nuevoContacto.twitter" type="text" class="form-control" placeholder="@ de twitter">
                    </div>
                    <br>
                    <button class="btn btn-success btn-lg">Añadir</button>
                </form>
            </div>

                <br><br>

            

    
            <!-- Contenedor de la tabla -->
            <div class="table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Twitter</th>
                            <th>Facebook</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="contacto in contactos" :key="contacto.id">
                            <td>{{ contacto.nombre }}</td>
                            <td>{{ contacto.email }}</td>
                            <td>{{ contacto.telefono }}</td>
                            <td v-html="contacto.twitter"></td>
                            <td>
                                <button class="btn btn-danger btn-sm" @click="borrarContacto(contacto.id)">
                                    <img src="img/eliminar.png" alt="Eliminar" width="20" height="20">
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            
        </section>

        
    
    
            
    
        </div>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/cbpAnimatedHeader.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/freelancer.js"></script>

        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <script type="text/javascript">
            import { collection, addDoc, getDocs, deleteDoc, doc } from 'firebase/firestore';
            import { db } from './firebase';

            new Vue({
                el: '#app',
                data: {
                    contactos: [], // Lista de contactos
                    nuevoContacto: {
                        nombre: '',
                        email: '',
                        telefono: '',
                        twitter: ''
                    }
                },
                methods: {
                    async cargarContactos() {
                        try {
                            const querySnapshot = await getDocs(collection(db, 'contactos'));
                            this.contactos = querySnapshot.docs.map(doc => ({
                                id: doc.id, // Identificador único
                                ...doc.data() // Los datos del contacto
                            }));
                        } catch (error) {
                            console.error('Error al cargar los contactos:', error);
                        }
                    },
                    async agregarContacto() {
                        try {
                            // Prepara el enlace de Twitter (si existe)
                            let twitterHandle = this.nuevoContacto.twitter.replace('@', '').trim();
                            let twitterLink = twitterHandle 
                                ? `<a class="twitter-follow-button" href="https://twitter.com/${twitterHandle}" target="_blank"></a>` 
                                : '';

                            // Guarda el nuevo contacto en Firestore
                            await addDoc(collection(db, 'contactos'), {
                                nombre: this.nuevoContacto.nombre,
                                email: this.nuevoContacto.email,
                                telefono: this.nuevoContacto.telefono,
                                twitter: twitterLink
                            });

                            // Recarga los contactos
                            this.cargarContactos();

                            // Limpia el formulario
                            this.nuevoContacto = { nombre: '', email: '', telefono: '', twitter: '' };

                        } catch (error) {
                            console.error('Error al agregar el contacto:', error);
                        }
                    },
                    async borrarContacto(contactoId) {
                        try {
                            // Borra el documento de Firestore
                            await deleteDoc(doc(db, 'contactos', contactoId));

                            // Recarga los contactos
                            this.cargarContactos();
                        } catch (error) {
                            console.error('Error al borrar el contacto:', error);
                        }
                    }
                },
                mounted() {
                    // Carga los contactos al iniciar la aplicación
                    this.cargarContactos();
                }
                 });
        </script>



    </body>

</html>
